body {
  font-family: $font-main;
  margin: 0;
  color: $text-color;
}

header {
  background: $primary-color;
  padding: $spacing;
}

main {
  display: grid;
  gap: 40px;
  padding: 40px;
}

article {
  background: $card-color;
  padding: $spacing;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  background: $primary-color;
  padding: $spacing;
  display: flex;
  justify-content: space-between;
}